/* contents */
/* 분류 검색 */
.sub_cont_tit {@include font(18px,500,normal,#77015e); @include Paperlogy; margin-bottom: 17px;}
.sort_col_wrap {
  @include Paperlogy; padding: 0 19px 0 29px; margin-bottom: 30px; background-color: rgba(215,215,215,0.3); border-radius: 10px;
  &::after {content: ''; display: block; clear: both;}
}
.sort_col_item {float: left; line-height: 54px;}
.sort_col_tit {float: left; margin-right: 20px; @include font(16px,400,54px,#000); @include Paperlogy;}
.sort_col_select {float: left;}
.form_select {
  width: 231px; height: 35px; padding: 0 40px 0 19px; margin-right: 56px; @include font(14px,400,normal,#000); border-radius: 100px; border-color: #fff; appearance: none; -ms-appearance: none;
  background-position: top 50% right 5px; background-repeat:no-repeat; background-size:25px auto;
  background-image: url(../images/ico_select_arrow_34.png);
  &::-ms-expand {display: none;}
//   &:required:invalid {
//     color: #aaa;
//     }
    &.tb_border {width: 100%; border: 1px solid #dedede; margin: 0;}
    &.w150 {width: 150px;}
}
.sort_col_input {width: 289px; height: 35px; padding: 0 40px 0 19px; margin-right: 56px; @include font(14px,400,normal,#000); border-radius: 40px !important; border: 0 !important;}
.btn_data_search {
  position: relative; display: inline-block; width: 101px; height: 35px; padding-left: 50px; @include font(16px,400,normal,#fff); text-align: left; border: 1px solid #a50082; border-radius: 26px; background-color: #a50082;
    &::after {content: ''; position: absolute; top: 50%; left: 22px; transform: translateY(-50%); width: 16px; height: 16px; background-repeat: no-repeat; background-size: 100% auto; background-position: 0 0; background-image: url(../images/ico_serach_w_16.png);}
}
.sort_tb_wrap {
    margin-bottom: 30px; border-top: 1px solid #a50082;
    table {width: 100%; table-layout: fixed; margin-bottom: 20px;}
    tr {
        height: 54px; border-bottom: 1px solid #dedede;
        &.sort_divi_line {border-bottom: 1px solid rgba(119,1,94,0.3);}
    }
    th {@include font(15px,400,normal,#8b1c74); background-color: rgba(165,0,130,0.1); @include Paperlogy;}
    td {text-align: left;}
    th, td {padding: 10px; box-sizing: border-box;}
    input[type="text"] {
        width: 120px; height: 35px; @include font(14px,400,normal,#000); letter-spacing: -0.04em; border: 1px solid #dedede; border-radius: 100px; box-sizing: border-box; background-color: #fff;
        &.datepicker {
            appearance: none; -ms-appearance: none; background-position: top 50% right 12px; background-repeat:no-repeat; background-size:17px auto; background-image: url(../images/ico_calendar_17.png);
            &:read-only {background-color: #fff;}
        }
    }
    .sort_tb_select {
        width: 110px;
        &.w195 {width: 195px;}
    }
    .adm_btn.sort_btn {
        margin-left: 10px;
        &.sort_file_label {margin-left: 0;}
    }
}
.view_area {width: 100%; padding: 0 10px; @include font(16px,400,1.8,#000);}
input[type="text"].fr_input_txt {
    width: 120px; height: 35px; @include font(14px,400,normal,#000); border: 1px solid #dedede; border-radius: 100px; padding: 0 15px; box-sizing: border-box; background-color: #fff;
    &.datepicker {
        letter-spacing: -0.03em; appearance: none; -ms-appearance: none; background-position: top 50% right 12px; background-repeat:no-repeat; background-size:17px auto; background-image: url(../images/ico_calendar_17.png);
        &:read-only {background-color: #fff;}
        &.gray {
            width: 140px !important; background-color: rgba(222,222,222,0.3); color: #000;
            &:read-only {background-color: rgba(222,222,222,0.3);}
            &::placeholder {color: #000;}
        }
    }
    &.type2 {
        width: 100% !important; letter-spacing: 0; background-color: rgba(222,222,222,0.3); color: #000;
        &::placeholder {color: #000;}
    }
    &.type3 {
        letter-spacing: 0; background-color: rgba(222,222,222,0.3); color: #000;
        &::placeholder {color: #000;}
    }
    &.type_wd {width: 260px !important;}
    &.w100per {width: 100% !important; letter-spacing: 0;}
    &.w140 {width: 140px !important;}
    &.w195 {width: 195px !important;}
    &.bg_gray {background-color: rgba(222,222,222,0.3);}
}
.sort_select_wrap {
    width: 100%;
    > select {display: inline-block; max-width: 195px; margin-right: 20px !important;}
    &::after {content: ''; display: block; clear: both;}
}
.sort_select_noti {display: inline-block; @include font(14px,400,normal,#000);}
.sort_td_item {
    display: inline-block; margin-right: 20px;
    .sort_td_txt,
    .sort_td_ct {display: inline-block; margin-right: 10px; @include font(14px,500,normal,#000);}
    input {display: inline-block;}
}

/* 날짜 검색 */
.date_flow {display: inline-block; margin: 0 6px; @include font(14px,500,35px,#000);}
.sort_textarea {
    width: 100%; height: 205px; padding: 15px; @include font(14px,400,normal,#000);border: 1px solid #dedede; border-radius: 17px; box-sizing: border-box; background-color: #fff; outline: none; resize: none;
    &.ht_half {height: 145px;}
}
.sort_file_label {
    position: relative; display: inline-block; font-size: 16px; color: #353535; @include Paperlogy;
}
.sort_file_btn {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; border: 0; opacity: 0; appearance: none; outline: none; cursor: pointer;}
.sort_file_txt {display: inline-block;}

/* board layout */
.board_container{}
.board_sort_row {
     margin-bottom:15px;
    &::after {content: ''; display: block; clear: both;}

    .fraction_cols{float: left;}
    .search_cols{
        float: right;
        .form_select{
            min-width:120px;
            &.w195 {width: 195px;}
        }
    }
    &.type2{background:none;padding:0;}
}
.sort_fraction_text{
    @include font(16px,400,35px,#000);
    strong{@include font(14px, 700, normal, #a50082); @include Paperlogy;}
}
.board_list_row{margin-bottom: 26px;}
.board_top_row{
    display:flex; justify-content: space-between; align-items: center; gap:20px; margin-bottom:16px;
    .each_cols{}
}
.board_front_row{display:flex; justify-content: flex-end; text-align: right; padding:0 0 24px 0;}
.board_control_list{
    display:flex; align-items: center; gap:16px;
    > li{}
}
.board_sortitem_list{
    display:flex; align-items: center; gap:8px;
    > li{}
}
.board_control_sort_row{
    background:#F8F8F8; display:flex; align-items: center; justify-content: space-between; gap:20px; padding:8px 16px; margin-bottom:48px;
    .tab_cols{}
    .form_cols{}
}
.bc_tabmeu_obj{
    display:flex; align-items: center; gap:12px;
    dt,dd{}
    dt{}
    dd{}
}
.bc_tabmenu_key{@include font(16px,400,1,#000); display:inline-block; white-space: nowrap;}
.bartab_list{
    display:flex; align-items: center; gap:4px; flex-wrap:wrap;
    > li{}
}
.bartab_item{
    @include font(13px,700,1,#595959); display:inline-flex; text-align:center; justify-content: center; white-space:nowrap; min-height:32px; align-items: center; border:1px solid #E6E6E6; border-radius:100px; padding:5px 16px 6px; box-sizing: border-box;
    &.active{color:#005AAB; border-color:#005AAB;}
}
.sort_item_obj{
    display:flex; align-items: center; gap:8px;
    dt,dd{}
    dt{}
    dd{}
    .sort_key{@include font(14px, 400, 1, #000); display:inline-block;}
    .form_select{}
}
.btn_board_control{
    display:inline-flex; align-items: center; border-radius: 100px; border:1px solid #E6E6E6; gap:4px; padding:6px 16px;
    .ico{
        width:24px;height:24px;flex:0 0 24px; @include bgicon;
        &.delete{background-image:url("../images/ico_minus_24.png");}
        &.cancel{background-image:url("../images/ico_cancel_24.png");}
        &.check{background-image:url("../images/ico_check_24.png");}
    }
    .control_text{@include font(14px,700,1,#000); display:inline-block;}
}
.board_fraction_text{
    @include font(13px,400,1,#000); white-space: nowrap;
    .emp{font-size:14px; @include Paperlogy; color:#B5000F;display:inline-block;padding:0 2px 0 4px;}
}
.board_fraction_text{}

.list_table_wrap{}
.list_table{
    width:100%;
    &.type2 {
        tbody dd {@include ellipsis;}
    }
    thead{
        th{
            border-top:1px solid #000; border-bottom:1px solid #d7d7d7; padding:16px; background-color: rgba(215,215,215,0.2); @include font(15px,400,normal,#000); @include Paperlogy;
            &:first-child {padding-left: 32px;}
            &:last-child {padding-right: 32px;}
            &.mb_none{}
        }
    }
    tbody{
        tr {
            &:nth-child(even) td {background-color: rgba(215,215,215,0.1);}            
        }
        td {
            border-bottom:1px solid #d7d7d7; padding:17px; @include font(15px,300,normal,#000);
            &:first-child {padding-left: 32px;}
            &:last-child {padding-right: 32px;}
            &.mb_none{}
            &.define_title{text-align: left; padding: 16px;}
            &.nodata_td{padding-top:100px; padding-bottom:100px;}
        }
    }
    .cont_ellipsis {max-width: 350px; @include ellipsis;}
}
.list_table_thtext,
.list_table_tdtext {white-space: nowrap;display:inline-block;}
.list_table_thtext {@include font(14px,400,1,#000);}
.list_table_tdtext {@include font(16px,400,1.3,#000);}
.list_td_item_wrap {display:flex; position:relative;top:-1px;}
.list_td_item {@include font(16px,400,1.3,#000);}
.nodata_tdtext {@include font(16px,400,1,#000);}


/* paging */
.popup_contents_row {
    .board_paging_row {margin-top:24px;}
}
.board_paging_row{display: table; text-align: center; margin:65px auto 0;}
.btn_paging_control{
    display: table-cell; vertical-align: center; width:29px; height:29px; text-align:center; @include bgicon_center(30px auto);
    &.first{background-image:url("../images/ico_paging_first.png");}
    &.prev{background-image:url("../images/ico_paging_prev.png");}
    &.next{background-image:url("../images/ico_paging_next.png");}
    &.last{background-image:url("../images/ico_paging_last.png");}
}
.paging_num_list{
    display: table; align-items:center; margin: 0 19px;
    > li {display:table-cell; vertical-align: center;}
}
.btn_paging_num{
    display: inline-block; width:29px; height:29px; text-align:center; border-radius:50%; @include font(14px,400,29px,#818181);
    &.active{color:#a50082; font-weight: 600; background-color:rgba(165,0,130,0.1); border: 0;}
    &.clamp_text{}
}

/* button */
.btn_float_wrap {
    &::after {content: ''; display: block; clear: both;}
    .btn_float_left {
        float: left;
        > button {float: left; margin-right: 10px;}
    }
    .btn_float_right {
        float: right;
        > button {
            &:not(:last-child) {float: left; margin-right: 10px;}
            &:last-child {float: left; }
        }
    }
}
.btn_right_wrap {text-align: right;}
.adm_btn {
    height: 35px; padding: 0 20px; @include font(16px,400,35px,#000); background-color: #fff; border-radius: 45px; @include Paperlogy; text-align: center;
    &.btn_pink_txt {background-color: rgba(165,0,130,0.1); color: #77015e;}
    &.btn_pink_bg {background-color: #77015e; color: #fff;}
    &.btn_red_txt {background-color: #fff; color: red; border: 1px solid red;}
    &.btn_gray {background-color: #2f2f2f; color: #fff;}
    &.btn_lightgray {background-color: #606060; color: #fff;}
    &.sort_btn {width: 90px; padding: 0; @include font(14px,400,35px,#353535); background-color: #e3e3e3; letter-spacing: -0.04em;}
    &.sort_btn_vari {padding: 0 24px; @include font(16px,400,35px,#353535); background-color: #e3e3e3;}
}

.popup_wrap#reportPopup {
    .sort_tb_wrap {margin-bottom: 21px;}
    .popup_item.pad25 {padding: 25px;}
    .popup_item.pad3020 {padding: 30px 20px;}
}

/* checkbox */
.props_item_wrap{}
.props_item_list{
    display:flex; gap:10px 36px; gap:24px;
    &.gap_type2{gap:36px;}
    > li{
        &:last-of-type{}
    }
}
input.props_dom{
    display: none;
    // appearance: none; background-color:#fff; width:17px; height:17px; cursor: pointer; @include bgicon; background-image:url("../images/ico_checkbox_22.png"); border:1px solid #DBDBDB; border-radius:4px; box-sizing:content-box;
    // &[type="radio"]{border-radius:100%; background-image:url("../images/ico_radio.png");
    //     &:checked{border-color:#4285F4;}
    &:checked + label {background-position:0 100%;}    
    & + label {position: relative; display:inline-block; width:17px; height:17px; cursor: pointer; @include bgicon; background-image:url("../images/ico_checkbox_22.png"); border:1px solid #DBDBDB; border-radius:4px; background-color:#fff; box-sizing:content-box;}
    &::-ms-expand {display: none;}
    // .props_label{@include font(14px, 400, 1.3, #000); display:inline-block; padding-top:2px; cursor:pointer;}
    &:disabled + label {opacity: 0.5; border-color: #9e9e9e; background-color: #dedede;}
}

/* datepicker */
.ui-widget-header {border: 0px solid #dddddd;background: #fff;}
.ui-datepicker-calendar>thead>tr>th {font-size: 12px !important;}
.ui-datepicker .ui-datepicker-header {position: relative;display: flex; align-items: center; justify-content: center; padding: 4px 0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border: 0px solid #c5c5c5;background-color: transparent;font-weight: normal;color: #454545;text-align: center;}
.ui-datepicker .ui-datepicker-title {margin: 0 0em;text-align: center;@include font(16px,500,1.5,#000); padding: 0px;font-weight: bold;}
.ui-datepicker {display: none;background-color: #fff;border-radius: 4px;margin-top: 10px;margin-bottom:10px;margin-left: 0px;margin-right: 0px;padding: 16px;width: 212px; /*box-shadow: 10px 10px 40px rgba(0,0,0,0.1);*/border-radius: 12px;}
.ui-widget.ui-widget-content {    border: 1px solid #eee;}
#datepicker:focus>.ui-datepicker {display: block;}
.ui-datepicker-prev,
.ui-datepicker-next {cursor: pointer;}
.ui-datepicker-next {float: right;}
.ui-state-disabled {cursor: auto;color: hsla(0, 0%, 80%, 1);}
.ui-datepicker-title {text-align: center;padding: 10px;font-weight: 100;font-size: 20px;}
.ui-datepicker-calendar {width: 100%;}
.ui-datepicker-calendar>thead>tr,
.ui-datepicker-calendar>tbody>tr {}
.ui-datepicker-calendar>thead>tr>th {width: 24px; height: 24px;font-size: 20px;font-weight: 400; line-height: 24px;}
.ui-datepicker-calendar>tbody>tr {padding: 4px 0;}
.ui-datepicker-calendar>tbody>tr>td>a {
    position: relative; color: #000;font-size: 12px !important;font-weight: bold !important;text-decoration: none;
    &.ui-state-hover:after,
    &.ui-state-focus:after {
       content: ''; position: absolute; bottom: -4px; left: 0; width: 100%; height: 1px; background-color: #77015e;
    }
}
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {cursor: auto;background-color: #fff;}
.ui-datepicker-calendar>tbody>tr>td {border-radius: 100%; width: 24px; height: 24px; cursor: pointer; font-weight: 100; text-align: center; font-size: 12px; line-height: 24px;}  
.ui-datepicker-calendar>tbody>tr>td:hover {background-color: transparent; opacity: 0.6;} 
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {border: 0px solid #cccccc;background-color: transparent;font-weight: normal;color: #2b2b2b;}
.ui-widget-header .ui-icon {background-image: url('../images/ico_cal_btns.png');}
.ui-icon-circle-triangle-e {background-position: -20px 0px;background-size: 36px;}

.ui-icon-circle-triangle-w {background-position: -0px -0px;background-size: 36px;}
.ui-datepicker-calendar>tbody>tr>td:first-child a {color: red !important;}
.ui-datepicker-calendar>tbody>tr>td:first-child a.ui-state-highlight {color: #fff !important;}
.ui-datepicker-calendar>tbody>tr>td:last-child a {color: #0099ff !important;}
.ui-datepicker-calendar>tbody>tr>td:last-child a.ui-state-highlight {color: #fff !important;}
.ui-datepicker-calendar>thead>tr>th:first-child {color: red !important;}
.ui-datepicker-calendar>thead>tr>th:last-child {color: #0099ff !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {width: 24px; height: 24px; border: 0px; background: #77015e; color: #fff; border-radius: 50%;}

.inp {padding:10px 10px; background-color:#f1f1f1; border-radius:4px; border:0px;}
.inp:focus {outline:none; background-color:#eee;}


@media (max-width: 1485px) {
    input[type="text"].fr_input_txt {
        width: 110px; font-size: 12px; padding: 0 15px;
        &.type_wd {width: 240px !important;}
    }
    .sort_td_item {
        margin-right: 5px;
        .sort_td_ct {margin: 0 3px;}
    }
}

@media (max-width: 1420px) {
    .sort_tb_wrap {
        th {font-size: 14px;}       
        .adm_btn.sort_btn {margin-left: 0;} 
    }
    .fr_input_txt,
    .date_flow {margin: 5px 0;}
    .adm_btn.sort_btn {margin: 5px 0;}
    .form_select {margin-top: 5px; margin-bottom: 5px;}
    .list_table {
        thead {
            th {
                font-size: 14px; padding: 10px 5px;
                &:first-child {padding-left: 10px;}
                &:last-child {padding-right: 10px;}
            }
        }
        tbody {
            td {
                font-size: 14px; padding: 10px 5px;
                &:first-child {padding-left: 10px;}
                &:last-child {padding-right: 10px;}
            }
        }
    }
    .sort_td_item {
        margin-right: 10px;
        .sort_td_txt,
        .sort_td_ct {margin-right: 0px;}
    }
}

@media (max-width: 1280px) {
    /* .btn_right_wrap {text-align: left;} */
    .btn_float_wrap  {
        .btn_float_right {float: left;}
    }
    input[type="text"].fr_input_txt {
        &.type2 {max-width: 200px;}
    }
}