/* layout */

.page_wrap{
   min-width:1280px;
}
.header_wrap{}
.header_main_row{background:#f3f3f3;}
.header_main_container{max-width:1365px; margin:0 auto; padding:0 30px;}
.header_main_tb{display:table;width:100%;}
.header_main_td{
    display:table-cell; vertical-align: middle; height:80px;
    &.current_util{}
    &.search_util{}
    &.menu_util{}
}
.sub_header_wrap{background:#5f084d;padding:0 30px;}
.sub_header_group{
    display:table; height:55px;
    .logo_cols,
    .util_cols{display:table-cell;}
    .logo_cols{vertical-align: middle; width:240px; padding-right:2px;}
    .util_cols{vertical-align: bottom;}
}
.sub_toplogo{}
.sub_toplogo_link{
    display:inline-block; 
    img{vertical-align: top; height:40px}
}
.util_dom_item{display:table;}
.util_dom_cols{
    display:table-cell;vertical-align:middle; padding:12px 0;
    &.ico_cols{
        padding-right:10px;
        .ico{
            > img{vertical-align: middle;}
        }
    }
    &.text_cols{
        .text_node{@include font(16px,400,1,#fff);}
    }
}

.current_util_list{
    display:table;
    > li{
        display:table-cell; vertical-align: middle; padding-right:12px;
        &:last-of-type{padding-right:0;}
    }
}
.current_who_men_para{
    padding-left:27px; min-height:19px; position:relative;
    &:before{display:inline-block; content:''; width:19px;height:19px; @include bgicon; background-image:url("../images/ico_util_top.png"); position:absolute;top:0;left:0;}
}
.current_who_men{display:inline-block; @include font(13px,400,1,#757575);padding-top:2px;}
.util_box_list{
    display:table;
    > li{
        display:table-cell; vertical-align: middle; padding-right:4px;
        &:last-of-type{padding-right:0;}
    }
}
.util_box_item{
    display:inline-block;background:#fff; border:1px solid #aaabac; padding:5px 8px; @include font(13px,500,1,#545454);
    &.type2{color:#c83148;}
}
.search_util_item_tb{display:table; margin:0 auto;}
.search_util_item_td{
    display:table-cell; padding-right:24px; vertical-align: middle;
    &:last-of-type{padding-right:0;}
}
.search_util_container{display:table;background:#fff; border-radius:100px; position:relative;overflow: hidden; max-width:230px;}
.search_util_cols{
    display:table-cell; vertical-align: middle;
    &.define_sort{}
    &.define_long{}
    select.search_util_select{background-color:transparent}
}

select.search_util_select{width:100%;color:#000;border:0;font-size:14px;height: 35px;padding: 0 32px 0 18px;box-sizing:border-box;font-family: "Pretendard"; min-width:96px; cursor: pointer;
    background: #fff url("../images/ico_select.png") no-repeat 100% 50%;line-height: 32px;appearance:none;
    &.type2{border:1px solid #d1d1d1; padding-left:15px;}
}
select.search_util_select::-ms-value {background: none; color:#000;}
select.search_util_select::-ms-expand {display: none;}
select.search_util_select::-ms-value {
    background: none; 
    color:#000;
}
select.search_util_select:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}


.search_util_field{position:relative;padding-right:43px;}
input.search_util_input{height: 35px; appearance: none; border: 0; border-radius: 0; width:100%; line-height:1; box-sizing: border-box;
    &::placeholder{@include font(14px,500,1,#000);}
}
.btn_search_util{width:35px;height:35px;background-position:50% 50%; background-repeat:no-repeat; background-size:16px auto; background-image:url("../images/ico_serach_16.png");position:absolute;top:0;right:8px;}
.util_direct_container{display:table;
    > *{padding-right:0;}
}
.util_direct_long,
.util_direct_short{display:table-cell; padding-right:3px; vertical-align: middle;}
.util_direct_long{width:175px;}
.util_direct_short{}
.search_util_select{}
.btn_util_direct{background:#747474; height:35px; box-sizing: border-box; line-height:1; border:1px solid #d1d1d1; padding:0 12px; @include font(14px,500,1,#fff);}
.quick_util_list{
    display:table; text-align: center; float:right;
    > li{
        display:table-cell; vertical-align: middle; padding-right:15px;
        &:last-of-type{padding-right:0;}
    }
}
.quick_util_item{display:inline-block;}
.quick_util_thum{
    .ico{
        width:22px;height:22px; @include bgicon; display:block; margin:0 auto;
        &.menu_01{background-image:url("../images/ico_util_menu_01.png");}
        &.menu_02{background-image:url("../images/ico_util_menu_02.png");}
        &.menu_03{background-image:url("../images/ico_util_menu_03.png");}
        &.menu_04{background-image:url("../images/ico_util_menu_04.png");}
        &.menu_05{background-image:url("../images/ico_util_menu_05.png");}
        &.menu_06{background-image:url("../images/ico_util_menu_06.png");}
        &.menu_07{background-image:url("../images/ico_util_menu_07.png");}
    }
}
.quick_util_spec{@include font(10px,500,1,#545454); margin-top:5px;}
.header_nav_row{}
.header_nav_inner{max-width:1365px; margin:0 auto; padding:0 30px; height:90px; position:relative;
    &:after{display:block;content:'';clear:both;}
}
.toplogo{position:absolute;top:0;left:30px; height:100%; display:table;}
.toplogo_link{
    display: table-cell; vertical-align: middle;
    > img{vertical-align: middle;}
}
.header_nav_container{
    padding-left:90px; display:table; float:right;
    &:after{display:block;content:'';clear:both;}
}
.header_nav_main_wrap{
    display:table-cell;vertical-align: middle; padding:0 120px 0 60px;
}
.header_nav_list{
    display:table; height:90px;
    > li{
        display:table-cell; vertical-align: middle;
        padding-right:60px;
        &:last-of-type{padding-right:0;}
    }
}
.header_nav_menu{@include Paperlogy; @include font(20px,500,1,#000);
    &:hover{color:#8b1c74;}
}
.header_nav_sub_wrap{
    display:table-cell;vertical-align: middle;
}
.header_total_tb{
    display:table;
    .long_cols,
    .short_cols{display:table-cell;vertical-align: middle;}
    .long_cols{padding-right:20px;min-width:240px;}
    .short_cols{}
}


select.header_total_select{width:100%;color:#000;border:1px solid #d1d1d1;font-size:16px;height: 47px;padding: 0 47px 0 15px;box-sizing:border-box;font-family: "Pretendard"; min-width:96px; cursor: pointer;
    background: #fff url("../images/ico_select_45.png") no-repeat 100% 50%;line-height: 45px;appearance:none;
}
select.header_total_select::-ms-value {background: none; color:#000;}
select.header_total_select::-ms-expand {display: none;}
select.header_total_select::-ms-value {
    background: none; 
    color:#000;
}
select.header_total_select:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}

.weather_item_list{
    > li{
        margin-bottom:2px;
        &:last-of-type{margin-bottom:0;}
    }
}
.weather_item{
    border-radius:100px; background:#f9eceb; padding:3px 33px 3px 10px; position:relative; 
    &.skin2{
        background-color:#deedde;
        .weather_text_node{color:#5aa659;}
    }
}
.weather_text_node{@include font(10px,600,1,#c8433b); white-space: nowrap;}
.weather_ico{
    width:13px;height:13px; background-position:50% 50%;background-repeat:no-repeat; background-image:url("../images/ico_weather_01.png");
    position:absolute;top:3.5px; right:13px;
    &.shape_2{background-image:url("../images/ico_weather_02.png");}
}

.middle_wrap{position:relative;z-index:5;}


.footer_wrap{background:#f3f3f3; padding-bottom:50px;}
.footer_partner_row{
    .footer_row_inner{}
}
.footer_row_inner{max-width:1365px; margin:0 auto; position:relative;  padding:0 30px;}
.footer_partner_tb{position:relative;padding-right:140px;}
.partner_grow,
.partner_shrink{}
.partner_grow{
    position:relative;
    &:after{
        display:block;content:'';width:70px;height:100%; position:absolute;top:0;right:0; z-index:1; pointer-events: none;
        background:url("../images/bg_partner_gra.png") no-repeat 100% 0;
    }
}
.partner_shrink{width:140px;position:absolute;top:0;right:0;height:100%;
 &:after{display:block;content:'';clear:both;}
}
.partner_item_list{
    
    .swiper-slide{width:auto;}
    > li{}
}
.partner_item{display:inline-block; white-space: nowrap; @include font(18px,500,80px,#808080);height:80px; }
.partner_control_wrap{

    .slick_control_list{
        > li{}
    }
    .btn_slick_control{
        opacity:.5;
        .nav_prev{}
        .nav_next{}
        .nav_auto{
            &.play{}
        }
    }
}
.partner_control_list{
    display:table; height:80px; float:right;
    > li{
        display:table-cell;vertical-align: middle; padding-right:5px;
        &:last-of-type{padding-right:0;}
    }
    .btn_control{display:inline-block;min-width:50px; height:24px; white-space:nowrap; text-align: center; background:#dedede; border-radius:100px; @include font(15px,500,24px,#808080); padding:0 15px; box-sizing: border-box;}
}

.partner_global_layer{position:absolute;bottom:60px;right:0; display:none; background:#fff;border : 1px solid #dedede; border-radius:10px; padding:15px 35px 15px 15px; z-index:10;}
.partner_global_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.partner_layer_item{display:inline-block; @include font(14px,500,1.3,#808080)}
.btn_global_close{position:absolute;top:15px;right:10px;width:20px;height:20px;background:url("../images/btn_partner_close.png") no-repeat 50% 50%/100% auto;}

.footer_main_row{
    padding-top:20px;
    .footer_row_inner{
        &:after{display:block;content:'';clear:both;}
        .main_cols{float:left;
            &:after{display:block;content:'';clear:both;}
        }
        .else_cols{float:right;}
    }
}
.bottom_logo{
    float:left;
    img{vertical-align: top;}
}
.footer_copy{padding:15px 0 0 20px; display:block; @include font(12px,400,1.4,#454545); float:left;}
.footer_banner_container{}
.footer_banner_item{
    display:inline-block;
    img{max-width:100%;}
}

.sub_middle_wrap{padding:10px;}
.middle_template{
    display:table; width:100%; table-layout: fixed;
}
.middle_left_panel,
.empty_margin_panel,
.middle_right_panel{display:table-cell;vertical-align: top;}
.middle_left_panel{width:240px;}
.middle_right_panel{margin-left:30px;text-align: left;}
.empty_margin_panel{width:20px;}

.left_card_top{display:table;width:100%;height:80px; text-align: center; border-radius: 10px; background:#383c3f; margin-bottom:10px;}
.left_card_td{display:table-cell;vertical-align: middle;}
.left_card_toptext{@include font(20px,500,1,#fff); @include Paperlogy;}

.left_card_container{border:1px solid #d7d7d7; border-radius:8px; padding-bottom:30px;}
.left_navmenu_list{
    > li{
        &.active{
            .left_navmenu_one{
                background:#92347e; color:#fff;
                &:after{display:none}
            }
            .left_navmenu_two_container{

            }
            .left_navmenu_two_list{
                > li{}
            }
            .left_navmenu_two{
                .text_node{}
            }
        }
        &:last-of-type{
            .left_navmenu_one{
                &:after{display:none;}
            }
        }
    }
}
.left_navmenu_one{
    display:block; padding:15px 20px; position:relative;
    @include font(16px,500,1.4,#000); @include Paperlogy;
    &:after{display:block;content:'';width:calc(100% - 40px); height:1px; position:absolute;bottom:0;left:20px; background:#d7d7d7;}
}
.left_navmenu_two_container{
    background:#f8f2f7; display:none;
}
.left_navmenu_two_list{
    padding:20px 30px;
    > li{
        margin-bottom:20px;
        &.active{
            .left_navmenu_two{
                &:before{opacity:1;}
                .text_node{color:#77015e;}
            }
        }
        &:last-of-type{margin-bottom:0;}
    }
}
.left_navmenu_two{
    display:inline-block;position:relative;
    &:hover{
        &:before{opacity:1;}
        .text_node{color:#77015e;}
    }
    .text_node{
        @include font(14px,500,1.4,#000); @include Paperlogy; position:relative; z-index:1;
    }
    &:before{display:block;content:''; opacity:0; border-radius:100px;height:14px; background:#e6c8de; position:absolute;bottom:-4px;left:-10px; width:calc(100% + 20px);}
}

.sub_right_title_row{padding-bottom:17px;margin-bottom:17px;border-bottom:1px solid #77015e;}
.sub_right_title{@include font(22px,500,1.4,#000); @include Paperlogy;}
.sub_contents{}

@media (max-width:1350px){
    .header_nav_list{
        > li{padding-right:50px;}
    }
    .header_nav_main_wrap{padding-right:80px;}
    .header_total_tb .long_cols{min-width:200px;}
    .util_direct_long{width:140px;}
}