/* main */
.middle_wrap{
    &.main{}
}
.mv_zone{background:#e2c6dc;position:relative;z-index:5;}
.mv_inner{max-width:1425px; margin:0 auto; padding:27px 30px; height:314px; display:table; width:100%;  box-sizing:border-box;}
.mv_cols{
    display:table-cell;vertical-align:top;
    &.pillar_01{width:226px;}
    &.pillar_02{width:350px;}
    &.pillar_03{width:260px; vertical-align:middle;}
    &.pillar_04{width:330px; vertical-align:middle;}
    &:last-of-type{padding-right:0;}
}
.mv_pillar_block{}
.mv_pillar_title_row{margin-bottom:23px;}
.mv_pillar_title{@include Paperlogy; @include font(22px,500,1,#000);}
.mv_pillar_contents{}
.current_tube_list{
    > li{
        margin-bottom:17px;
        &:last-of-type{margin-bottom:0;}
    }
}
.current_tube_item{
    display:table;width:100%;background:#8b1c74; border-radius:100px; height:40px;
}
.tube_td{
    display:table-cell;vertical-align:middle; padding:10px;
    &.define_key{text-align:left;padding-left:20px;}
    &.define_value{text-align:right;padding-right:20px;}
}
.tube_keyword,
.tube_value{
    @include font(16px,400,1,#fff);  @include Paperlogy;
    .emp{color:#f7d145; font-weight:400;}
}
.current_tube_item{}
.mv_quadcard_wrap{

}
.mv_quadcard_list{
    margin:-12px -6px; @include Paperlogy;
    > li{width:20%; box-sizing:border-box;padding:11px 6px; float:left; position:relative;
        &.active{
            z-index:2;
            .mv_quadcard{
                border-color:#f7d145;
                .quadcard_count,
                .quadcard_label{color:#f7d145;}
            }
            /* .mv_quadlocal_layer{display:block;} */
        }
    }
    &:after{display:block;content:'';clear:both;}
}
.mv_quadcard{
    border-radius: 9px; background-color: #8b1c74; display:table; height:100%; width:100%; border:1px solid #8b1c74; text-align:center;
    &.active,
    &:hover{
        border-color:#f7d145;
        .quadcard_count,
        .quadcard_label{color:#f7d145;}
    }


}
.mv_quadcard_td{display:table-cell;vertical-align:middle;padding:15px 0;}
.quadcard_count_row{}
.quadcard_count{@include font(22px,500,1,#fff);}
.quadcard_label{@include font(13px,400,1,#fff); display:inline-block;}
.quadcard_label_row{margin-top:12px;}
.mv_quadlocal_layer{
    display:none; position:absolute;top:100%;left:6px; background:#fff; border:2px solid #8b1c74; overflow:hidden; border-radius:8px; width:207px; box-sizing:border-box;
    &.pos2{
        left:0;width:100%; top:calc(100% + 15px);
    }
    .title_row{background:#ae609d;padding:10px 45px 10px 15px;}
    .quadlocal_title{@include font(16px,600,1,#fff);}
    .contents_row{padding:14px 12px;}
}
.obj_table_list{
    display:table;width:100%;
     > li{
        display:table-row;
        &:last-of-type{
            .obj_cols{padding-bottom:0;}
        }
        .obj_cols{
            padding-bottom:8px;
            display:table-cell;vertical-align:top;
            &.define_th{text-align:left;}
            &.define_td{text-align:right;}
        }
       
     }
    .number_package{
        white-space:nowrap;
        .number_main{}
        .number_unit{}
    }
}
.obj_keylabel{
    @include font(13px,400,1,#000000); display:inline-block;
    padding-left:10px; position:relative;
    &:before{display:block;content:'';width:3px;height:3px; border-radius:100%;background:#000;opacity:.5; position:absolute;top:6px;left:0;}
    &.emp_red{color:#c72f44;}
}
.number_package{
    @include font(13px,400,1,#000000);
    .number_main,
    .number_unit{display:inline-block;}
    .number_main{}
    .number_unit{}
}
.btn_quadlocal_close{width:17px;height:17px;display:inline-block; position:absolute;top:10px;right:14px; @include bgicon; background-image:url("../images/ico_local_layer_close.png");}
.mv_gobox_wrap{margin:0 -10px 0 0; position:relative;left:-5px;}
.mv_gobox_list{
    display:table;width:100%; table-layout:fixed;
    > li{display:table-cell;vertical-align:top;padding:0 5px;}
}
.mv_gobox_item{
    display:table;width:100%;height:100%; text-align:center; border:1px solid #8b1c74;  background:#8b1c74; border-radius: 8px;
    padding:10px 0;
    .ico_img_row{
        img{vertical-align:top;}
    }
    .text_node_row{margin-top:10px;}
    .text_node{@include font(13px,400,1.5,#fff); @include Paperlogy;}
    &:hover{
        border-color:#f7d145;
        .text_node{color:#f7d145;}
    }
}
.mv_gobox_td{display:table-cell;vertical-align:middle;}
.mv_gobox_wrap{}

.mv_status_box_wrap{padding-top:24px;}
.mv_status_box{
    background:#fff; position:relative; overflow:hidden; border-radius:8px;
    .title_row{
        background:#8b1c74; padding:12px 10px 8px 10px;
        .left_cols{float:left;
        }
        .right_cols{float:right;}
        .btn_only_ico{margin-left:5px; position:relative;top:-2px;}
        &:after{display:block;content:'';clear:both;}
    }
    .contents_row{}
}
.status_title{@include font(14px,400,1,#fff); display:inline-block;}
.btn_only_ico{
    display:inline-block; @include bgicon; vertical-align:middle;
    &.refresh{background-image:url("../images/ico_refresh_14.png");width:14px;height:14px;}
    &.more{background-image:url("../images/ico_more_17.png");width:17px;height:17px;}
}
.status_summary_list{
    display:table;width:100%;
    > li{display:table-row;
    }
}
.status_td{
    display:table-cell; vertical-align:middle; padding:12px 10px;
    &.define_th{text-align:left;}
    &.define_td{text-align:right;}
}
.status_thtext{@include font(13px,400,1,#1f2a57)}
.status_tdtext{@include font(13px,400,1,#611452)}

.banner_container{background:#fff; width:330px; border-radius:8px; position:relative;overflow:hidden; font-size:0;line-height:0;
   /*  &.single_banner_container{
        width:100%;
    } */
     &.mc_banner{border-radius:0;}
}
.banner_slider{
    overflow: hidden;
    > .slide{
        float:left;
    }   
    &:after{display:block;content:'';clear:both;}
}
.banner_img_item{
    > img{vertical-align:top;}
}
.banner_control_row{
    border-top:1px solid #d1d1d1; padding:0 10px;
    &:after{display:block;content:'';clear:both;}
    .counter_obj{
        background:#e3e3e3; border-radius:100px; padding:4px 10px;
        .current,
        .part,
        .total{@include font(13px,400,1,#000); opacity:.8; display:inline-block;}
        .current{}
        .part{padding:0 2px;}
        .total{}
    }
    .btn_total_list{background-image:url("../images/ico_menu_burger_20.png");}
}
.navigation_obj{
    &.skin2{
        .btn_control,.btn_total_list{
            &.prev{background-image:url("../images/ico_prev_w_20.png");}
            &.next{background-image:url("../images/ico_next_w_20.png");}
            &.pause,
            &.auto{background-image:url("../images/ico_control_w_pp_20.png");}
        }
    }
    .btn_control{margin-right:7px;
        &:last-of-type{margin-right:0;}
    }
}
.btn_control,.btn_total_list{
    display:inline-block;width:20px;height:20px;@include bgicon; vertical-align:middle;
    &.prev{background-image:url("../images/ico_control_prev_20.png");}
    &.next{background-image:url("../images/ico_control_next_20.png");}
    &.pause,
    &.auto{background-image:url("../images/ico_control_pp_20.png");}
    &.auto{background-position:0 100%; display:none;}
}
.banner_control_item_list{
    display:table; float:right; min-height:37px;
    > li{display:table-cell;vertical-align:middle;
        padding-right:16px;
        &:last-of-type{padding-right:0;}
    }
}
.banner_global_zone{position:relative;
    .mv_quadlocal_layer{width:100%; left:auto; right:0; top:calc(100% + 15px);
      /*   &.pos2{top:auto;bottom:38px;} */
    }
}
.banner_slice_title_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.banner_slice_title{
    @include font(13px,400,1,#000000); display:block;  @include Paperlogy;
    &:hover{color:#8b1c74;}
    padding-left:10px; position:relative;
    &:before{display:block;content:'';width:3px;height:3px; border-radius:100%;background:#000;opacity:.5; position:absolute;top:5px;left:0;}
}

.mc_zone{margin:30px 0 70px;position:relative;z-index:1;}
.mc_row{
    margin-bottom:25px; position:relative;
    &:last-of-type{margin-bottom:0}
    &.mc_01{z-index:4;}
    &.mc_02{z-index:3;}
    &.mc_03{z-index:2;}
    &.mc_04{z-index:1;}
}
.mc_row_tb{
    display:table;width:100%; margin:0 auto; max-width:1425px; padding:0 30px; box-sizing: border-box; 
    .binding_cols,
    .banner_big_cols,
    .binding2_cols,
    .liquid_medium_cols,
    .liquid_small_cols,
    .empty_cols,
    .banner_sm_cols{display:table-cell;vertical-align:top;}
    .binding_cols{width:auto;
        &.wid_2{width:342px;}
    }
    .banner_big_cols{width:453px;
        .banner_container{width:453px;}
    }
    .banner_sm_cols{width:230px;
        .banner_container{width:230px;}
    }
    .banner_cols{width:340px; position:relative;
        .banner_container{width:340px;}
    }
    .empty_cols{width:20px;height:50px; }
    .liquid_medium_cols{width:auto;}
    .liquid_small_cols{width:30%;}
}
.binding_card{border:1px solid #d1d1d1; border-radius:8px; overflow:hidden; position:relative; box-sizing:border-box;}
.data_card_tb{
    display:table;width:100%; table-layout:fixed; /* height:257px; */
    .top_row{display:table-row;}
    .top_cols{display:table-cell;vertical-align:middle;background:#f8f8f8;border-bottom:1px solid #d1d1d1; height:54px;
        &:after{display:block;content:'';clear:both;}
    }
    .top_title_tb{display:table;padding:16px 20px; width:100%; box-sizing: border-box;
        .main_cols,
        .else_cols,
        .td_cols,
        .sub_cols{display:table-cell;vertical-align:bottom;}
        .main_cols{width:1px;}
        .sub_cols{padding-left:20px;}
        .btn_cols{width:16px;}
        .else_cols{text-align:right;
            .wordtab_wrap{float:right;}
            &::after{display:block;content:'';clear:both;}
        }
        .td_cols{

        }
        &.type2{padding-right:50px;}
    }
    .binding_title_wrap{
        /* .binding_title,
        .btn_icon_only{}
        .binding_title{}
        .btn_icon_only{margin:3px 0 0 12px;}
        &:after{display:block;content:'';clear:both;} */
        display:table;
    }
    .binding_title_td{display:table-cell;vertical-align: middle;padding-right:10px;
        
        .btn_icon_only{position:relative;top:2px;}
        &:last-of-type{padding-right:0;}
    }
    .binding_title{
        position:relative;
        &.notape{
            &:before{display:none;}
        }
        &:before{display:block;content:'';width:calc(100% + 20px); position:absolute;bottom:-5px;left:-10px; background:#e0ccdd; border-radius:100px; height:14px;}
        .text_node{@include font(20px,500,1,#611452); @include Paperlogy; position:relative; white-space: nowrap}
    }
    .binding_title_sub{@include font(14px,400,1.3,#262626); @include ellipsis}
    .middle_row{display:table-row;}
    .middle_cols{display:table-cell;vertical-align:top;}
}
.wordtab_wrap{}
.wordtab_list{
    display:table;
    > li{
        display:table-cell;vertical-align:middle; padding-right:12px;
        &:last-of-type{padding-right:0;}
    }
}
.wordtab_item{
    display:inline-block; white-space: nowrap; position:relative;
    &:before{display:block;content:'';width:calc(100% + 10px); height:10px; background:#e0ccdd; opacity:0; position:absolute;bottom:-3px;left:-5px; border-radius:100px;}
    &.active{
        .text_node{@include font(14px,500,1,#611452);}
        &:before{opacity:1;}
    }
    .text_node{display:inline-block;position:relative; @include font(14px,350,1,#6f6f6f);}
}
.mc_tabcont{
    display:none;
    &.active{display:block;}
}
.top_title_else_wrap{position:absolute;top:20px;right:22px;}
.binding_data_list{
    padding:17px 20px 17px; box-sizing:border-box; /*  height:199px; */
    > li{
        padding-left:11px; position:relative; margin-bottom:8px;
        &:before{display:block;content:'';width:3px;height:3px; background:#000;position:absolute;top:9px;left:0;}
        &:after{display:block;content:'';clear:both;}
        &:last-of-type{margin-bottom:0}
    }
}
.binding_data_item{float:left; width: calc(100% - 90px);}
.binding_data_link{@include font(16px,400,1.3,#000); @include ellipsis; display:block;}
.binding_data_sub{float:right; @include font(14px,400,1.3,#6f6f6f); white-space:nowrap; position:relative;top:2px;}
.single_banner_container{
     border-radius:8px; position:relative;overflow:hidden; font-size:0;line-height:0;
    .banner_slider{
        overflow: hidden;
        > .slide{
            float:left;
        }   
        &:after{display:block;content:'';clear:both;}
    }
}
.single_banner_link{
    > img{width:100%;vertical-align:top;}
}
.navigation_obj_layer{position:absolute;bottom:15px;right:15px; z-index:5;}

.mc_quick_wrap{}
.mc_quick_list{
    padding:10px 0 10px 12px;
    > li{
        padding:10px; box-sizing: border-box;
        &:last-of-type{}
        &:nth-of-type(2n-1){width:42%;clear:both; float:left;}
        &:nth-of-type(2n){width:58%;float:right;}
    }
    &:after{display:block;content:'';clear:both;}
}
.mc_quick_item{display:inline-block; @include font(18px,400,1.3,#000000);padding-left:16px; word-break: break-all; letter-spacing: -0.5px; position:relative; 
    &:before{display:block;content:'';width:10px;height:12px; position:absolute;top:5px;left:0; background:url("../images/ico_bullet_dia.png") no-repeat 0 0/100% auto;}
}

.date_linkage_container{
    .control_row{text-align: center; padding:15px 0;}
    .data_row{
        .linkage_block_list{margin-top:0}
    }
}
.btn_date_control{
    display:inline-block;width:20px;height:20px; @include bgicon; vertical-align: middle;
    &.prev{background-image:url("../images/ico_control2_red_prev_20.png");}
    &.next{background-image:url("../images/ico_control2_red_next_20.png");}
}
.date_fraction_node{display:inline-block; @include font(14px,500,1,#c72f44); padding:0 10px;position:relative;top:2px;}
.btn_date_control + .linkage_block_list{margin-top:0;}
.linkage_block_list{
    margin:20px 20px;
    > li{
        padding-left:10px; position:relative; margin-bottom:8px; /* display:none; */
        &:before{display:block;content:""; width:2px;height:2px; background:#000; position:absolute;top:10px;left:0;}
        &:last-of-type{margin-bottom:0;}
        /* &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){display:block;} */
    }
    &.no_bullet{
        > li{
            &:before{display:none;}
            padding-left:0;position:relative; margin-bottom:12px;
            &:last-of-type{}
        }
    }
}
.linkage_block_item{ @include font(16px,400,1.3,#000000); display:inline-block; white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.linkage_block_dom{
    position:relative; padding-left:23px; display:block;
    .ico{
        display:block; width:14px; height:14px; @include bgicon; background-image:url("../images/ico_check_bullet.png"); border-radius:100%; position:absolute;top:3px;left:0;
        &.check{}
        &.checked{background-position:0 100%;}
    }
    .text_node{ @include font(16px,400,1.3,#000000); display:inline-block; white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
}
.banner_capsule_wrap{
    
}
.banner_capsule_list{
    &:after{display:block;content:'';clear:both;}
    margin:0 -10px 0;
    > li{
        float:left; width:50%; box-sizing: border-box; padding:0 10px; margin-bottom:10px;
       &:last-of-type{margin-bottom:0;} 
    }
}
.banner_capsule_item{
    display:table; width:100%; box-sizing:border-box; min-height:60px; background:#faf2f4; border-radius:10px; border:1px solid #f5e2e7; padding:10px 18px;
    .text_node,
    .ico{display:table-cell;vertical-align: middle;}
    .text_node{@include font(20px,500,1,#000000); @include Paperlogy}
    .ico{
        width:60px;
        &:after{display:block;content:'';width:60px; height:60px; @include bgicon;}
        &.shape_01{
            &:after{background-image:url("../images/ico_mc_01_60x60.png");}
        }
        &.shape_02{
            &:after{background-image:url("../images/ico_mc_02_60x60.png");}
        }
        &.shape_03{
            &:after{background-image:url("../images/ico_mc_03_60x60.png");}
        }
        &.shape_04{
            &:after{background-image:url("../images/ico_mc_04_60x60.png");}
        }
        &.shape_05{
            &:after{background-image:url("../images/ico_mc_05_60x60.png");}
        }
    }
}

.notice_sector_list{
    padding:20px;
    > li{
        margin-bottom:30px;
        &:last-of-type{margin-bottom:0;} 
    }
}
.notice_sector_item{
    .key_row{margin-bottom:10px;}
    .caption_row{}
}
.sector_keyword{@include font(16px,500,1.4,#3d55bf);}
.sector_caption{@include font(16px,400,1.4,#000);}

.card_menutab_list{
    
    > li{display:block;float:left; padding-right:17px; position:relative;
        &:first-of-type{
            .binding_tabmenu{
                &.active{margin-left:0;}
            }
        }
        &:after{display:block;content:'|';position:absolute;top:2px;right:6px;}
        &.active{
            .binding_tabmenu{
                top:0;
                &:before{display:block;content:'';width:calc(100% + 20px); position:absolute;bottom:-2px;left:-10px; background:#e0ccdd; border-radius:100px; height:14px;}
                .text_node{@include font(20px,500,1,#611452); position:relative; white-space: nowrap}
            }
            &:after{display:none;}
        }
        &:last-of-type{
            padding-right:0;
            &:after{display:none;}
        }
        &.active_before{
            &:after{display:none;}
        }
    }
    &::after{display:block;content:'';clear:both;}
}
.binding_tabmenu{
    position:relative; top:4px;
    .text_node{@include font(14px,400,1.3,#262626); @include Paperlogy;}
    &.active{
        margin:0 5px; top:0;
        &:before{display:block;content:'';width:calc(100% + 20px); position:absolute;bottom:-5px;left:-10px; background:#e0ccdd; border-radius:100px; height:14px;}
        .text_node{@include font(20px,500,1,#611452); position:relative; white-space: nowrap}
    }
}

.card_tabcont{
    position:relative;overflow:hidden;width:0;height:0;
    &.active{width:auto;height:auto;overflow: visible;}
}

@media (max-width:1400px){
    .mc_quick_item{font-size:16px;
        &:before{top:3px;}
    }
    .banner_capsule_item{
        .text_node{font-size:17px;}
    }


    .card_menutab_list{
        > li{padding-right:12px;
            &:after{right:4px; top:4px;}
            &.active{
                .binding_tabmenu{
                    &:before{width:calc(100% + 10px);left:-5px;height:10px;}
                }
            }
        }
    }
    .binding_tabmenu{
        top:4px;
        .text_node{
            font-size:12px;
        }
    }
    .card_menutab_list{
         > li{
            &.active{
                 .binding_tabmenu{
                     .text_node{font-size:16px;}
                 }
            }
         }
    }
}