@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("./webfont/Pretendard-Black.woff2") format("woff2"),
    url("./webfont/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("./webfont/Pretendard-ExtraBold.woff2") format("woff2"),
    url("./webfont/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("./webfont/Pretendard-Bold.woff2") format("woff2"),
    url("./webfont/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("./webfont/Pretendard-SemiBold.woff2") format("woff2"),
    url("./webfont/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("./webfont/Pretendard-Medium.woff2") format("woff2"),
    url("./webfont/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("./webfont/Pretendard-Regular.woff2") format("woff2"),
    url("./webfont/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("./webfont/Pretendard-Light.woff2") format("woff2"),
    url("./webfont/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("./webfont/Pretendard-ExtraLight.woff2") format("woff2"),
    url("./webfont/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("./webfont/Pretendard-Thin.woff2") format("woff2"),
    url("./webfont/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("./webfont/GmarketSansLight.eot");
  src: url("./webfont/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("./webfont/GmarketSansLight.woff2") format("woff2"), url("./webfont/GmarketSansLight.woff") format("woff"), url("./webfont/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("./webfont/GmarketSansMedium.eot");
  src: url("./webfont/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("./webfont/GmarketSansMedium.woff2") format("woff2"), url("./webfont/GmarketSansMedium.woff") format("woff"), url("./webfont/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("./webfont/GmarketSansBold.eot");
  src: url("./webfont/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("./webfont/GmarketSansBold.woff2") format("woff2"), url("./webfont/GmarketSansBold.woff") format("woff"), url("./webfont/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}


@font-face {
  font-family: 'Paperlogy';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-1Thin.woff2') format('woff2'),
        url('./webfont/Paperlogy-1Thin.woff') format('woff'),
        url('./webfont/Paperlogy-1Thin.otf') format('opentype'),
        url('./webfont/Paperlogy-1Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-2ExtraLight.woff2') format('woff2'),
        url('./webfont/Paperlogy-2ExtraLight.woff') format('woff'),
        url('./webfont/Paperlogy-2ExtraLight.otf') format('opentype'),
        url('./webfont/Paperlogy-2ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-3Light.woff2') format('woff2'),
        url('./webfont/Paperlogy-3Light.woff') format('woff'),
        url('./webfont/Paperlogy-3Light.otf') format('opentype'),
        url('./webfont/Paperlogy-3Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-4Regular.woff2') format('woff2'),
        url('./webfont/Paperlogy-4Regular.woff') format('woff'),
        url('./webfont/Paperlogy-4Regular.otf') format('opentype'),
        url('./webfont/Paperlogy-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-5Medium.woff2') format('woff2'),
        url('./webfont/Paperlogy-5Medium.woff') format('woff'),
        url('./webfont/Paperlogy-5Medium.otf') format('opentype'),
        url('./webfont/Paperlogy-5Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-6SemiBold.woff2') format('woff2'),
        url('./webfont/Paperlogy-6SemiBold.woff') format('woff'),
        url('./webfont/Paperlogy-6SemiBold.otf') format('opentype'),
        url('./webfont/Paperlogy-6SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-7Bold.woff2') format('woff2'),
        url('./webfont/Paperlogy-7Bold.woff') format('woff'),
        url('./webfont/Paperlogy-7Bold.otf') format('opentype'),
        url('./webfont/Paperlogy-7Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-8ExtraBold.woff2') format('woff2'),
        url('./webfont/Paperlogy-8ExtraBold.woff') format('woff'),
        url('./webfont/Paperlogy-8ExtraBold.otf') format('opentype'),
        url('./webfont/Paperlogy-8ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('./webfont/Paperlogy-9Black.woff2') format('woff2'),
        url('./webfont/Paperlogy-9Black.woff') format('woff'),
        url('./webfont/Paperlogy-9Black.otf') format('opentype'),
        url('./webfont/Paperlogy-9Black.ttf') format('truetype');
}